.newsletter {
    background-color: #ef7460;
    padding: 30px;
    color: #fff;

    .newsletter-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            width: 270px;
            margin-right: 20px;

            
            @media(max-width: 1024px) {
                margin-right: 0;
                width: initial;
                text-align: center;
            }

            h2 {
                font-weight: 400;
                font-size: 40px;
                letter-spacing: 5px;
                margin: 0;
            }
        
            p {
                font-size: 16px;
                letter-spacing: 2px;
                margin-top: 10px;
            }
        }

        p {
            flex-grow: 1;
            text-align: center;
        }

        @media(max-width: 1024px) {
            flex-direction: column;
        }

        form {
            display: flex;
            align-items: center;
            flex: 1;

            @media(max-width: 1024px) {
                width: 100%;
            }

            input, button {
                height: 50px;
                border: 0;
                background-color: #fff;
                border-radius: 3px;
                margin: 0 5px;
                font-size: 15px;
            }
    
            input {
                flex: 1;
                padding: 0 10px;

                @media(max-width: 1024px) {
                    flex: initial;
                    margin-bottom: 10px;
                    width: 100%;
                }

            }
    
            button {
                width: 200px;
                color: #ef7460;
                text-transform: uppercase;
                cursor: pointer;
                transition: .2s;
    
                &:hover {
                    transform: scale(1.05);
                }
            }

            @media(max-width: 1024px) {
                flex-direction: column;
            }
        }
    }

}